.bg-theme{
  background-color: #1287a5;
}

.cart-icon{
  font-size: 2rem;
}

.menu-icon{
  font-size: 2rem;
  background-color: black;
  color: red;    
}

.dash-icon{
  font-size: 30px;
  color: rgb(0, 255, 179);
  border: none !important;
}

button:focus{
  outline: none;
}

.main-background{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-background{
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-warning{
  padding: 8px 35px;
}
 

